<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="theme-color" content="#26a69a">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>

<nav class="navClass">
    <div class="nav-wrapper">
        <a href="#" style="padding-left: 30px" class="brand-logo"><%= title %></a>
    </div>
</nav>


<div class="corpo">
    <div class="col s12 s12 m12 l12">
        <p> A proposta do portal, é aplicar o conceito de NLP, que ao entrar com os dados, um algoritmo valida
            se a frase inserida é verdadeira ou falsa dentro do conhecimento a priori.
            <br/>
            <br/>

            Por exemplo: <br/>
            Ao entrarmos com a frase <b>"cachorro é um mamifero"</b> o retorno será verdadeiro.
            <br/>
            Mas se inserirmos <b>"cachorro é herbivoro"</b> o retorno será falso.
        </p>

        <div class="row">
            <form action="tratamento" method="post">
                <div class="input-field">
                    <input placeholder="Digite sua pergunta" name="pergunta" id="pergunta" type="text"
                           class="validate">

                    <input class="waves-effect waves-light btn" type="submit" value="Perguntar">
                </div>
            </form>
        </div>
    </div>
    
    <div class="row" style="margin-bottom: 0px">
        <div class="col s8 m8 l8">
             <h5>Sua pergunta foi: <b><%= questao %></b></h5>
         </div>
 
         <div class="col s4 m4 l4">
             <h5>Resposta: <b><%= resposta %></b></h5>
         </div>
     </div>

    <div class="row">
        <div class="col s12 m4 l4">
            <div class="card">
                <div class="card-content">
                    <span class="card-title"> Mamiferos</span>
                    <li>cachorro</li>
                    <li>gato</li>
                    <li>ornitorrinco</li>
                </div>
            </div>
        </div>

        <div class="col s12 m4 l4">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Carnivoros </span>
                    <li>leao</li>
                    <li>leopardo</li>
                    <li>tigre</li>
                </div>
            </div>
        </div>

        <div class="col s12 m4 l4">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">
                    Herbivoros
                    </span>
                    <li>boi</li>
                    <li>ovelha</li>
                    <li>girafa</li>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
