<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1><%= title %></h1>
<p> Valida se a frase inserida é verdadeira ou falsa dentro das opções abaixo</p>

<form action="tratamento" method="post">
    <label for="pergunta">qual sua pergunta</label>
    <input name="pergunta" id="pergunta" type="text">
    <input type="submit" value="enviar">
</form>

<%= questao %>


<%= resposta %>
</body>
</html>
