<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="theme-color" content="#26a69a">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>

<nav class="navClass">
    <div class="nav-wrapper">
        <a href="#" style="padding-left: 30px" class="brand-logo"><%= title %></a>
    </div>
</nav>


<div class="corpo">
    <div class="col s12 s12 m12 l12">
        <p> A proposta do portal, é aplicar o conceito de NLP, que ao entrar com os dados, um algoritmo valida
            valida se a frase inserida é verdadeira ou falsa dentro do conhecimento a priori.
            <br/>
            <br/>

            Por exemplo: <br/>
            Ao entrarmos com a frase <b>"carro e um veiculo terrestre"</b> o retorno será verdadeiro.
            <br/>
            Mas se inserirmos <b>"boing é um veiculo aquatico"</b> o retorno será falso.
        </p>

        <div class="row">
            <form action="tratamento" method="post">
                <div class="input-field">
                    <div class="col s10 m10 l10">
                        <input placeholder="Digite sua pergunta" name="pergunta" id="pergunta" type="text"
                               class="validate">
                    </div>
                    <div class="col s2 m2 l2" style="position: relative;top: 8px;">
                        <input class="waves-effect waves-light btn" type="submit" value="Perguntar">
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row" style="margin-bottom: 0px">
        <div class="col s8 m8 l8">
            <h5>Sua pergunta foi: <b><%= questao %></b></h5>
        </div>


        <div class="col s4 m4 l4">
            <h5>Resposta: <b><%= resposta %></b></h5>
        </div>
    </div>

    <div class="row">
        <div class="col s12 s4 m4 l4" style="padding-left: 0px">
            <div class="card">
                <div class="card-content">
                    <span class="card-title"><i class="material-icons">directions_car</i> Veiculos Terrestres</span>
                    <li>carro</li>
                    <li>quadriciclo</li>
                    <li>moto</li>
                    <li>trator</li>
                    <li>caminhao</li>
                    <li>carreta</li>
                    <li>trem</li>
                    <li>triciclo</li>
                </div>
            </div>
        </div>

        <div class="col s12 s4 m4 l4">
            <div class="card">
                <div class="card-content">
                    <span class="card-title"><i class="material-icons">directions_boat</i> Veiculos Aquáticos </span>
                    <li>bote</li>
                    <li>barco</li>
                    <li>navio</li>
                    <li>iate</li>
                    <li>balsa</li>
                    <li>canoa</li>
                    <li>lancha</li>
                    <li>veleiro</li>
                </div>

            </div>
        </div>

        <div class="col s12 s4 m4 l4" style="padding-right: 0px">
            <div class="card">
                <div class="card-content">
                    <span class="card-title"><i class="material-icons">flight</i> Veiculos Aéreos</span>
                    <li>aviao</li>
                    <li>boing</li>
                    <li>jato</li>
                    <li>balao</li>
                    <li>dirigivel</li>
                    <li>planador</li>
                    <li>helicoptero</li>
                    <li>drone</li>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
